/* box_model.css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* box-sizing: content-box; */
    word-break: break-all;
    /* word-break: keep-all; */
}

/* Here's a breakdown of the box model components:
1. Content: The actual content of the box, such as text, images,
or other media.
2. Padding: The transparent area around the content, providing
space between the content and the border.
3. Border: A visible or invisible boundary surrounding the
padding, defining the edges of the box.
4. Margin: The transparent space outside the border, creating separation between the element 
and its surrounding elements.   
*/

.outside{
        border: 1px solid black;
}

/* BORDERS */

/* border: [border-width] [border-style] [border-color]; */

/* border-style:none; */
/* border-style: groove; */
/* border-style:dotted; */
/* border-style:double; */
/* border-style:dashed; */
/* border-style:solid; */
/* border-style:ridge; */
/* border-style:inset; */
/* border-style:outset; */
/* border-style:hidden; */

.box{
    border-width: 10px;
    /* border-style:outset; */
    border-color: rgba(255, 0, 0, 0.809);
    } 

.box{
    /* border: 20px groove red; */
    /* margin: auto; */
    margin: 10px;
    padding: 10PX;
    /* width: 300PX; */
    /* min-height: 150PX; */
 }

.box{
    /* border-top: 5px solid #3498db; */
    /* border-right: 10px dotted #e74c3c; */
    /* border-bottom: 15px double #2ecc71; */
    /* border-left: 20px groove #f39c12; */
}

/* [ top ]    [ right ]    [ bottom ]    [ left ] */
/* [ top ]    [ right n left ]   [ bottom ]     */
/* [ top n bottom ]    [ left n right ] */
 .box{
    border-width: 10px 20px 30px 40px;
    /* border-width: 10px 20px 30px ; */
    /* border-width: 10px  30px ; */
    border-width: 10px ;
    border-style:outset;
    
    /* border-style:outset dashed dotted; */
    border-color: rgba(255, 0, 0, 0.809);
    /* border-color: rgba(255, 0, 0, 0.809) green blue;
    } */

/* BORDER RADIUS */
/* CSS border-radius is a powerful property that allows you to create rounded corners on elements.  */
/* [ top-left ]    [ top-right ]   [ bottom-right ]  [ bottom-left ]    */
/* [ top-left ]    [ top-right and bottom-left ]   [ bottom-right ]  */
/* [ top-left and bottom-right ]    [  top-right  and bottom-left ]   */
/* [ all edges ]   */

.box{
    /* border-radius: 360px; */
    /* border-radius: 10px; */
    /* border-radius: 10px 40px; */
    /* border-radius: 10px 40px 90px;  */
    /* border-radius: 10px 30px 60px 90px;  */
}


/* .box{
    outline: 5px solid #1e05f9;
} */



/* MARGIN AND PADDING */

.box{
    margin-top: 12px;
    margin-bottom: 1rem;
    margin-left: 2em;
    margin-right: 2%;

} 

/* .box{
    padding-top: 12px;
    padding-bottom: 1rem;
    padding-left: 2em;
    padding-right: 2%;
} */


/* [ top ]    [ right ]    [ bottom ]    [ left ] */
.box{
    /* margin: 10px; */
    /* margin: 5px 15px 30px 50px; */
    /* padding: 10px; */
   /* padding: 5px 15px 30px 50px; */

    } 


/* [ top n bottom ]    [ left n right ] */
.box{
    /* margin: 10px; */
    /* margin: 10px 50px; */
    /* padding: 10px 50px; */
    } 


/* [ top ]    [ right n left ]   [ bottom ]     */
.box{
    /* margin: 10px; */
    /* margin: 10px 50px 20px; */
    /* padding: 10px 50px 20px; */
    } 


/* Width and Height */
/* .box{
    width:20px;
    height: 200px;
} */

/* if you must set a max height, also set an overflow property */
.box{
    /* min-width:150px; */
    /* min-width:100%;
    max-width:300px;
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll; */
}


/* Viewport Units: */
/* 
-> vw and vh: Relative to 1% of the viewport width and height, respectively.
-> vmin and vmax: Relative to the smaller or larger of the viewport's width and height.

 */

 div {
    /* background-color: #3498db; */
    /* width: 50vw; */
    /* height: 30vh; */
    /* width: 100vw; */
    /* height: 100vh; */
  }
  

 .example {
    /* font-size: 5vmin; */
    /* font-size: 5vmax; */
}


.example {
    /* width: 50vmax; */
    /* width: 50vmin; */
}

/* 
Em (em): Relative to the font-size of the element. For example, if the font-size of an element is 16px, 1em is equal to 16px. 
*/
div {
    /* margin: 1em;  */
    /*equivalent to margin: 1 * 16px;  */
  }

/* 
Rem (rem): Similar to em, but it is relative to the root (html) font-size. This makes it a good choice for maintaining consistent spacing across the entire page.
*/

/*equivalent to margin: 1 * 16px;  */
/* div {
    margin: 2rem; 
    padding: 2rem;
  } */

html {
    /* font-size: 20px; */
}


div {
    /* margin: 2rem;  */
    /* padding: 2rem; */
    /*equivalent to margin: 1 * 20px;  */
  }



  /* ex. What is the total width of the box */
  /* .box {
    box-sizing: content-box;
    width: 200px;
    padding: 20px;
    border: 2px solid #000;
  } */





  

/* PERSONAL NOTE */
/* width: 100px
height: 50px
padding: 20px
border: 10px
margin: 30px
what is the full width and height of the box*/
/* Add to get the border box, subtract to get the content box */
